<!DOCTYPE html>
{% load static %}
<html class="no-js">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal Blog</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" />
    <!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />
	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<link rel="shortcut icon" href="favicon.ico">
	<!-- <link href='https://fonts.googleapis.com/css?family=Work+Sans:400,300,600,400italic,700' rel='stylesheet' type='text/css'> -->
	<!-- Animate.css -->
    <link rel="stylesheet" href="{% static "css/animate.css" %}">
    <!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="{% static "css/icomoon.css" %}">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="{% static "css/bootstrap.css" %}">
	<!-- Theme style  -->
    <link rel="stylesheet" href="{% static "css/style.css"  %}">
	<!-- Modernizr JS -->
	<script src="{% static "js/modernizr-2.6.2.min.js" %}"></script>
</head>
<style>
	.sg{
		background-image: url('https://img.freepik.com/free-vector/abstract-technology-particle-background_52683-25766.jpg?size=626&ext=jpg');
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: cover;
	}
</style>
<body class="sg">
    <div id="fh5co-main">
		<div class="fh5co-tab-wrap">
			<ul class="fh5co-tab-menu">
				<li class="active"><a href="#" data-tab="1"><span class="icon icon-glass"></span><span class="menu-text">Profile</span></a></li>
				<li><a href="#" data-tab="2"><span class="icon icon-graduation-cap"></span><span class="menu-text">Education</span></a></li>
				<li><a href="#" data-tab="3"><span class="icon icon-black-tie"></span><span class="menu-text">Experience</span></a></li>
				<li><a href="#" data-tab="4" data-pie="yes"><span class="icon icon-fighter-jet"></span><span class="menu-text">Skills</span></a></li>
				<li><a href="#" data-tab="5" ></a></li>
            </ul>
            <div class="fh5co-tab-content active" data-content="1">
				<div class="fh5co-content-inner text-center">
					<div class="row row-bottom-padded-sm">
						<div class="col-md-12">
							<figure >
								<img class ="img-responsive" src= "{% static "images/PicsArt_07-13-07.56.34.jpg" %}" alt="profile missed">
								<style>
									.img-responsive{
										display: inline-block;
										position: relative;
										width: auto;
										height: auto;
										overflow: hidden;
										border-radius: 50%;
									}
								</style>

							</figure>
                            <h1>Janaeshwar k</h1>
                            <p>Born and raised in <a href="#">Coimbatore</a>.Looking to start the career as an entry-level software engineer with a reputed firm driven by technology.
							Willingness to learn cutting edge technologies.Passionate about implementing and launching new projects.
							</p>
						</div>
                    </div>
                    <div class="row">
						<div class="col-md-12 fh5co-counter">
							<div class="fh5co-number fh5co-left">10</div>
							<div class="fh5co-text">
								<h3 class="border-bottom">Months of experience in software development</h3>
								<p>Goal is to become <a href="#">DataScientist</a></p>
							</div>
						</div>
                    </div>
                    <ul class="fh5co-social">
						<li><a href="mailto:janaeshkrish1998@gmail.com"><i class="icon-envelope"></i></a></li>
						<li><a href="https://twitter.com/Janaesh1"><i class="icon-twitter"></i></a></li>
						<li><a href="https://www.instagram.com/janaeshkrish/"><i class="icon-instagram"></i></a></li>
						<li><a href="https://www.google.com"><i class="icon-google"></i></a></li>
						<li><a href="https://www.linkedin.com/in/janaeshwar-k-13a85618a/"><i class="icon-linkedin"></i></a></li>
                    </ul>
                </div>
			</div>
			<div class="fh5co-tab-content" data-content="2">
				<div class="fh5co-content-inner">
					<div class="row">
						<div class="col-md-12">
							<p>I believe that education is all about being excited about something.</p>
							<div class="fh5co-feature">
								<div class="fh5co-icon">
									<i class="icon-graduation-cap"></i>
								</div>
								<div class="fh5co-text">
									<h2>2002-2014</h2>
									<p>Did my schooling in <a href="http://www.ashrammatriculation.com/">Ashram matric higher secoundary school</a> Coimbatore</p>
								</div>
							</div>
							<div class="fh5co-feature">
								<div class="fh5co-icon">
									<i class="icon-graduation-cap"></i>
								</div>
								<div class="fh5co-text">
									<h2>2014-2016</h2>
									<p>For higher secoundary i moved to <a href="https://www.tvsmschool.com/">TVSM matric higher sec school</a> Coimbatore </p>
								</div>
							</div>
							<div class="fh5co-feature">
								<div class="fh5co-icon">
									<i class="icon-graduation-cap"></i>
								</div>
								<div class="fh5co-text">
									<h2>2016-2020</h2>
									<p>My UG degree in Eletronics and Communication Engineering in  <a href="http://www.cietcbe.edu.in/"> CIET college</a> Coimbatore</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
	
			<div class="fh5co-tab-content" data-content="3">
				<div class="fh5co-content-inner">
					<div class="row">
						<div class="col-md-12">

							<p>The only way to do great work is to love what you do.</p>

							<div class="fh5co-feature">
								<div class="fh5co-icon">
									<i class="icon-black-tie"></i>
								</div>
								<div class="fh5co-text">
									
									<h3><a href="http://www.myunisoft.com/">Unisoft System Consultancy</a></h3>
									<h4>MAR 2021 - JUN 2021</h4>
									<h3> <a href="#" > Software Developer</a></h3>
									<li>Role is focused on developing AI features in ERP for various modules like HRMS,CRM,FINANCE</li>
									<li>Reasearch and development in NLP chatbot</li>
									<li>understanding client requirments and developing AI features accordingly.</li>
										
								</div>
							</div>
							
							<div class="fh5co-feature">
								<div class="fh5co-icon">
									<i class="icon-black-tie"></i>
								</div>
								<div class="fh5co-text">
									
									<h3><a href="https://software-development.mazenet.com/">MAZENT SOLUTIONS</a></h3>
									<h4>Oct 2020 - Feb 2021</h4>
									<h3> <a href="#" > Software Developer</a></h3>
									<li>The role is generally focused on integrating and implementing AI algorithms and logic into the deliverables of an IT project.</li>
									<li>Predictive analytics in project management</li>
									<li>Handling projects related to Robotic Process Automation</li>	
								</div>
							</div>
							
							<div class="fh5co-feature">
								<div class="fh5co-icon">
									<i class="icon-black-tie"></i>
								</div>
								<div class="fh5co-text">
									<h3><a href="https://www.intelisa.in/">INTELISA</a></h3>
									<h4>Dec 2019 - Apr 2020</h4>
									<h3> <a href="#" > Software Developer - INTERN</a></h3>
									
									<li>Modify existing software to correct errors, to adapt it to new hardware.</li>
                                    <li>Direct software programming and development of documentation.</li>
                                    <li>Coordinate installation of software system.</li>
                                    <li>Consult with engineering staff to evaluate interface between hardware and software, develop specifications and performance requirements, or resolve customer problems</li>
                                    
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
			<div class="fh5co-tab-content" data-content="4">
				<div class="fh5co-content-inner">
					<div class="row">
						<div class="col-md-12">
							<p>Technology is best when it brings people together.Im excited to learn cutting-edge technologies.Find my projects here <a href="https://github.com/janaeshkrish">Github</a></p>
						</div>
						<div class="col-md-4 col-sm-6 col-xs-12 text-center">
							<div class="chart" data-percent="95"><span><strong>PYTHON</strong>95%</span></div>
						</div>
						<div class="col-md-4 col-sm-6 col-xs-12 text-center">
							<div class="chart" data-percent="80"><span><strong>Chatbot</strong>80%</span></div>
						</div>
						<div class="col-md-4 col-sm-6 col-xs-12 text-center">
							<div class="chart" data-percent="80"><span><strong>Django</strong>80%</span></div>
						</div>
						<div class="col-md-4 col-sm-6 col-xs-12 text-center">
							<div class="chart" data-percent="85"><span><strong>pandas</strong>85%</span></div>
						</div>
						<div class="col-md-4 col-sm-6 col-xs-12 text-center">
							<div class="chart" data-percent="70"><span><strong>Linux</strong>70%</span></div>
						</div>
						<div class="col-md-4 col-sm-6 col-xs-12 text-center">
							<div class="chart" data-percent="90"><span><strong>HTML5</strong>90%</span></div>
						</div>
						<div class="col-md-4 col-sm-6 col-xs-12 text-center">
							<div class="chart" data-percent="80"><span><strong>Css</strong>80%</span></div>
						</div>
						<div class="col-md-4 col-sm-6 col-xs-12 text-center">
							<div class="chart" data-percent="75"><span><strong>Machine Learning</strong>75%</span></div>
						</div>
						<div class="col-md-4 col-sm-6 col-xs-12 text-center">
							<div class="chart" data-percent="70"><span><strong>Deep Learning</strong>70%</span></div>
						</div>

					</div>
				</div>
			</div>
		</div>
		<footer id="fh5co-footer">
			<div class="row">
				<div class="col-md-6 col-md-offset-3 text-center">

				</div>
			</div>
		</footer>
	</div>
	<!-- jQuery -->
	<script src="{% static "js/jquery.min.js" %}"></script>
	<!-- jQuery Easing -->
	<script src="{% static "js/jquery.easing.1.3.js" %}"></script>
	<!-- Bootstrap -->
	<script src="{% static "js/bootstrap.min.js " %}"></script>
	<!-- Waypoints -->
	<script src="{% static "js/jquery.waypoints.min.js" %}" ></script>
	<!-- Easy PieChart -->
	<script src="{% static "js/jquery.easypiechart.min.js" %}" ></script>
	<!-- MAIN JS -->
	<script src="{% static "js/main.js"  %}"></script>
</body>
</html>